/*Search queries*/ /*
*Universal Styles              Top Header Styles             Hero section styles


*/ /*

Description:
- Mobile first

*/
/***********************************************/
/***************Universal Styles
***********************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/***********************************************/
/***************Top Header styles
***********************************************/
#top-header {
  width: 100%;
  height: 52px;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  max-width: 1200px;
  margin: 0 auto;
  max-height: 52px;
}

#left-side-header {
  display: flex;
  justify-content: row;
  align-items: center;
}

#right-side-header {
  display: flex;
  justify-content: row;
  align-items: center;
  gap: 16px;
  padding: 16px;
}

#logo-name {
  margin-left: 7px;
  font-size: 20.8px;
  font-weight: 800;
  font-family: "Manrope", system-ui, sans-serif;
}

/********Toggle / Switch********/
.toggle-switch {
  width: 46px;
  height: 24px;
  background-color: #9397ad;
  border-radius: 25px;
  position: relative;
  box-shadow: 0px 8px 18px -8px rgba(99, 102, 241, 0.9);
  cursor: pointer;
}

.toggle-knob {
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
  transition: left 0.3s ease;
}

.toggle-switch.active .toggle-knob {
  left: 24px;
}

/***Menu button Mobile***/
.hamburger-menu {
  width: 30px;
  height: 36px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.hamburger-menu span {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #333;
}

.hamburger-menu span:first-child {
  margin-top: 6px;
}

.hamburger-menu span:nth-child(2) {
  margin-top: 6px;
  margin-bottom: 6px;
}

.hamburger-menu span:last-child {
  margin-bottom: 6px;
}

/***********************************************/
/***************Hero section styles
***********************************************/
.hero-section {
  background: #ffffff;
  height: 499px;
  font-family: "Manrope", system-ui, sans-serif;
  background: radial-gradient(circle at bottom center, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 50%, rgba(19, 16, 34, 0.01) 100%);
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  padding: 33px;
}
.hero-section * {
  justify-self: center;
  align-self: center;
  width: 100%;
  text-align: center;
}
.hero-section *:first-child {
  max-width: 300px;
}
.hero-section *:nth-child(2) {
  max-width: 361.41px;
}
.hero-section h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 34.1px;
}
.hero-section p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #585C7B;
  line-height: 1.288;
  height: 115.2px;
}/*# sourceMappingURL=styles.css.map */