
// Flexbox Centering
@mixin flex-center($centerJ: center, $centerA: center, $flex-dir: row){
    display: flex;
    flex-direction: $flex-dir;
    justify-content: $centerJ;
    align-items: $centerA;
    
}
@mixin flex-space-between($space-between: space-between, $center: center){
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
  // Sticky Header
  @mixin sticky-header {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  // Dark Theme
 
  @mixin dark-theme {
    .toggle-switch input:checked ~ #top-header {
      background-color: $dark-background;
      color: $text-color;
    }
  }

  
  // Gradient Background for Hero Section
  @mixin hero-gradient-background {
    background: radial-gradient(
      circle at bottom center,
      $gradient-start 0%,
      $gradient-middle 50%,
      $gradient-end 100%
    );
  }
  
  //Nested items in Hero-Section