/*******Dark mode text *****/
.dark-mode-text{   //Must be in this partial(updated loading order might work now)
    display: none;
    color: #131022;
    font-weight: 600;
 
   }

   
//Tablets Selection Media
@media screen and (min-width: 768px) {

 /***********************************************/
/***************Universal  styles
***********************************************/
  .dark-mode-text{
    display: block;
    user-select: none;
  }

/***********************************************/
/***************Top Section styles
***********************************************/
  .toggle-switch{
    margin-right: 60px;
  }


/***********************************************/
/***************Hero Section styles
***********************************************/
  .hero-section {
    width: 100vw;
    max-width: 98vw;
    height: auto;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    gap: 35px;
    padding-bottom: 0;
 
    *:first-child{ //Crucial for the h1 styling.
      max-width: 500px;   
    }
   
    //Nested
   h1 {
    display: inline-block;
    grid-column: 2 / 8;   
    font-size: 44.3px;
 
    max-width: 100px;
  }

 .hero-paragarph {
    grid-column: 1 / 6; 
    grid-row: 2;
    width: 360px;
    
  }
  .main-btn-wrapper{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 360px;
    grid-column: 1 / 6;
    grid-row: 3;
    align-self: center;
    justify-self: center;
  }
   .d-btn-1 {

    width: 170px;

  
   }
   .d-btn-2 {

    width: 170px;
   
  }
  .discover-wrapper{
    grid-row: 4;
    grid-column: 1 / 6;
    justify-self: center;
    width: 200px;
    margin-right: 180px;
    
  }

}
.hero-section::after {
   
  content: "";
  background-image: url('/Pictures/test.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  grid-row: 2 / 6;
  grid-column: 5 / 8; 
  width: 100%;
  height: 100%;
  z-index: -1;

  background-position-y: 100%;

  
}

/***********************************************/
/***************Brand section styles
***********************************************/
.brand-wrapper{
  display: flex;
}
/***********************************************/
/***************App Features section styles
***********************************************/
.app-features-grid{
  grid-template-columns: 1fr 1fr;
  h2{
    grid-column: 1 / -1;
    grid-row: 1;
  }
  p{
    grid-column: 1 / -1;
    grid-row: 2;
    max-width: 600px; // Easier to read at max 600px
  }
}


/***********************************************/
/***************Contact and sub  section styles
***********************************************/
.sub-grid{
 grid-template-columns: 1fr 1fr;
 padding: 60px 30px;
}
.noti-wrapper{
  margin: 0;
}

//Inside the media
}



////////////////////////////////////
///////Higher tablet widths
//////////////////////////////
/// 
/// 
// @media screen and (min-width: 868px){
//  .brand-wrapper{
//   transform: scale(0.9);
//  }
// }

// @media screen and (min-width: 968px){
//   .brand-wrapper{
//     transform: scale(1);
//    }
// }