/*Search queries*/ /*
*Universal Styles              Top Header Styles             Hero section styles


*/ /*

Description:
- Mobile first

*/
// Import Fonts
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800;900&display=swap');
// Import variables and mixins
@import 'Partials/variables';
@import 'Partials/mixins';
@import 'Partials/functions';


/////////////////
/// Root styles - Dark mode fix
/// 
:root{
  --header-background: #fff;
}

/***********************************************/
/***************Universal Styles
***********************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  transition: background-color 0.16s;
}
.section-max-width{
  width: fit-content;
  max-width: rem(1298);
  margin: 0 auto;
  margin-top: 100px;
}
.margin-20{
  margin: 20px;
}
.desktop-only{ // Default is flex on desktop
  display: none;
}
.desktop-only-block{ 
  display: none;
}
.mobile-tablet-only{
 display: block;
}
// html {
//   @include dark-theme($dark-background, $text-color);
// }

/***********************************************/
/***************Top Header styles
***********************************************/
#top-header {
  z-index: 999;
  width: 100%;
  height: $header-height;
  box-shadow: 0px 0px 3px 0px hsl(0, 0%, 70%);
  // background-color: $light-background;
  @include sticky-header;
  background-color: var(--header-background);
  // Dark theme for top header
  // @include dark-theme($dark-background);
}

.wrapper {
  @include flex-space-between(space-between, center);
  padding: 0 rem(16);
  max-width: rem(1200);
  margin: 0 auto;
  max-height: $header-height;

}

#left-side-header {
  @include flex-center(row);
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
#left-side-header:visited{
  color: black;

}


#logo-name {
  margin-left: rem(7);
  font-size: rem(20.8);
  font-weight: 800;
  font-family: $font-family;
 
}

/*** Right side header ***/
#right-side-header {
  @include flex-center(row);
  gap: rem(16);
  padding: 0 rem(16);
}

/********Toggle / Switch********/
.toggle-switch {
  width: $toggle-switch-width;
  height: $toggle-switch-height;
  background-color: #9397ad;
  border-radius: 25px;
  position: relative;
  box-shadow: 0px 8px 18px -8px rgba($primary-color, 0.9);
  cursor: pointer;
  display: inline-block;
  user-select: none;
  input {
    display: none;
  }

  .toggle-knob {
    width: $toggle-knob-diameter;
    height: $toggle-knob-diameter;
    background-color: $light-background;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
    transition: left 0.3s ease;
  }


  input:checked + .toggle-knob {
    left: calc(#{$toggle-switch-width} - #{$toggle-knob-diameter} - 6px);
    
  }

}
.toggle-switch:has(input:checked) {
background-color: $primary-color;

}

/***Menu button Mobile***/
.hamburger-menu {
    width: 30px;
    height: 36px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    
  }
  
  .hamburger-menu span {
    display: block;
    width: 22px;
    height: 2px;
    background-color: #333;
   
  }
  
  .hamburger-menu span:first-child {
    margin-top: 6px;
  }
  
  .hamburger-menu span:nth-child(2) {
    margin-top: 6px;
    margin-bottom: 6px;
  }
  
  .hamburger-menu span:last-child {
    margin-bottom: 6px;
  }
  

  .signin-btn-link{
    display: none;
    user-select: none;
  }

/***********************************************/
/***************Hero section styles
***********************************************/

.background-widescreen-fixer-hero{
  @include hero-gradient-background;
  width: 100%;
  height: auto;
  

}
//**Universal Section properties**//
.hero-section {

  height: 100%;
  font-family: $font-family;
  @include flex-center;
//@include dark-theme($dark-background);
 
  padding-bottom: 10px; //Line fixer
    display: grid;
    grid-template-rows: auto;
    gap: 40px;
   
    padding-top: 27.02px;
    
    //////Nested universal
    h1, .hero-paragarph {
 
    justify-self: center;
    align-self: center;   
      
    width: 100%;         
      
  }


  *:nth-child(2){
    max-width: 361.41px;
  }
   h1{
    @include flex-center; 
    text-align: center; 
    font-weight: 700;
    font-size: 34.1px;
    max-width: 300px; 
   }
   .hero-paragarph{
    @include flex-center;   
   padding: 0;
    font-size: 18px;
    color: #585C7B;
    line-height: 1.288;
    height: 115.2px;
   }
  
}

/***Apple Button Self made***/   //The Next button is AI-made.
.main-btn-wrapper{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.download-btn {
  @include flex-center;
  width: 100%;
  height: 50px;
  background-color: #131022;
  max-width: 366.4px;
  border-radius: 8px;
  cursor: pointer;
  .button-wrapper {
     display: flex;
    
     justify-content: center;
     align-items: center;
     margin-top: 0px;
     
     flex-direction: row;
    .icon-fix {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 30px;
      .apple-icon-top {
        position: absolute;
        top: -6px; 
        left: 2´0px; 
      }

      .apple-icon {
        position: relative;
      }
    }
  }
  
  p{
    color: white;
  }
}
.download-btn:hover{
  background-color: $primary-color;
  border: $primary-color;
}
.download-text-apple-top{
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Arial", sans-serif;
  font-size: 11px;
  height: fit-content;
  letter-spacing: 1px;
}
.download-text-apple{
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: fit-content;
  letter-spacing: 1px;
}

/****Google button Ai-Generated with Builder.io Figma plugin****/

.link-image {
  margin-top: 4px;
  object-fit: contain;
  object-position: center;
  width: 139px;
  max-width: 100%;
}
.btn-link{
 width: 100%;
 text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

//*******Discover more button*********//
.discover-wrapper{
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  user-select: none;
  width: 100%;
  p{
    color: #585C7B;
  }
}

.discover-button{
  fill:#3E4265;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;;
  background-color: #fff;
}

.discover-button:hover{
  background-color: $primary-color; 
  color: white;
 stroke: white;
 fill: white;
 cursor: pointer;
}



/***********************************************/
/***************Brand section styles
***********************************************/

.brand-wrapper{
  display: none;
  //Styles in Tablet/Desktop only
}

.brand-wrapper img:nth-child(n+5) {
  display: none;
  //Styles in Tablet/Desktop only
}

/***********************************************/
/**********App Features section styles
***********************************************/

.app-features-grid{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding: 5px;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  h2{
    text-align: center;
    font-family: $font-family;
    font-weight: 700;
    font-size: 27.9px;
    margin: 0 auto;
  }
  p{
    text-align: center;
    font-size: 18px;
    color: #585C7B;
    padding: 0px 25px;
    max-width: 425px;
    font-family: $font-family;
    margin: 0 auto;
  }
}

.app-features-img{
  display: none;
}


.app-features-grid-item{
  display: flex;
  flex-direction: row;
  padding: 20px;
  gap: 20px;
  align-items: center;
  justify-content: center;
  img{
    align-self: start;
  }
  h3{
    text-align: start;
    font-size: 20px;
    margin-bottom: 10px;
  }
  p{
    text-align: start;
    padding: 0;
    font-size: 16px;
    color: #585C7B;
  }
}
/***********************************************/
/**********how it works section styles
***********************************************/
.background-widescreen-fixer-howitworks{
  background-color: #F3F6FF;
  padding-top: 1px;
  padding-bottom: 50px;
  margin-top: 20px;
}
.howitworks-grid{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  max-width: 75rem;
  gap: 30px;
  
  h3{
    max-width: 250px;
    font-weight:900;
    font-size: 21.6;
  }
  p{
    max-width: 415px;
    font-size: 16px;
    color: #585C7B;
  }
}
.howitworks-img-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
.howitworks-img-wrapper img:nth-child(1),
.howitworks-img-wrapper img:nth-child(3) {
  display: none;
}



.howitworks-textbox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.desktop-only{ // Default is flex on desktop
  display: none;
} //Remebr to change to variable in SCSS
//So you can use in Universal styles

/***********************************************/
/**********Explanation section styles
***********************************************/

//Only universal style in mobile


/***********************************************/
/**********Revies section styles
***********************************************/

//Only Universal style in mobile


/***********************************************/
/**********Q & A or FAQ section styles
***********************************************/
.qa-top-text-box{
  margin: 0 auto;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 355px;
  text-align: center;
  h2{
    font-size: 24.7px;
    font-weight: 900;
  }
  p{
    color: #585C7B;
    font-size: 18px;
  }
}
//Grid start
.qa-grid{
  display: grid;
  align-items: center;
  justify-content: center;
  max-width: 45rem;
  margin: 20px;
  
}

//Header
.qa-header-box{
  border: 1px solid #E2E5F1;
  border-top: none;
  padding: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  gap: 20px;
  h3{
    font-size: 16px;
    max-width: 261px;
  }
}
.qa-grid .qa-header-box:nth-child(2) {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 1px solid #E2E5F1;
}
.qa-grid .qa-header-box:nth-last-of-type(2) {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}
.qa-btn-box-clicked{
  background-color: $primary-color;
  width: 36px;
  height: 36px;
  min-width: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px -8px 18px -8px #6366F1;
  cursor: pointer;
  user-select: none;
}
.qa-btn-box{
  background-color: #F3F6FF;
  width: 36px;
  height: 36px;
  min-width: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}
//Content
.qa-content-box{
  padding: 32px;
  border: 1px solid #E2E5F1;
  border-top: none;
  p{
    color: #585C7B;
    margin-bottom: 10px;
  }
}
//The display none fix 
.qa-grid .qa-content-box:nth-child(4) {
  display: block;
}
.qa-grid .qa-header-box:nth-child(3){
  .qa-btn-box-clicked{
    display: flex;
  }
  .qa-btn-box{
    display: none;
  }
}
.shadow-wrapper .qa-content-box:nth-child(2) {
  display: none;
}
.shadow-wrapper .qa-header-box:nth-child(1){
  border-radius: 0;
  border-top: none;
  .qa-btn-box-clicked{
    display: none;
  }
  .qa-btn-box{
    display: flex;
  }
}
/***********************************************/
/**********Contact & subscribe section styles
***********************************************/
.contact-section{
 
 
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  
}
//Contact
.contact-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 40px;
}
.contact-btn{
  display: inline-block;
  border: none;
  background-color: $primary-color;
  width: 162.29px;
  height: 49.5px;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
  p{
    color: white;
    font-size: 14px;
  }
 
}
.contact-tablet-wrapper{
  display: none;
}

//Subscribe
.sub-grid{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  background-color: #F3F6FF;
  margin: 0 auto;
  
  border-radius: 8px;
  max-width: 720px;
  width: 100%;
}
.noti-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
  h3{
    max-width: 250px;
  }
}
.email-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  max-width: 400px; 
  align-self: center;
  justify-self: center;
}
.input-wrapper{
  position: relative;
}
.input-with-icon {
  height: 52.3px;
  width: 220px;
  border: none;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  font-size: 16px;
  padding: 10px;
  padding-left: 40px; 
  box-sizing: border-box;
  position: relative; 

}
.email-icon{
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  z-index: 999;
}
.input-with-icon::before {
  content: '';
  background: url('/Pictures/email-icon.svg') no-repeat;
  background-size: 20px 20px; /* Adjust the size of the icon */
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none; /* Ensure the icon doesn't interfere with input interactions */
  z-index: 999;
}
.sub-btn{
  width: 114.68px;
  height: 52.3px;
  border: none;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  background-color: $primary-color;
  color: white;
  font-size: 16px;
  padding: 15px;
}

/***********************************************/
/**********Footer section styles
***********************************************/
footer p{
 color: #9397AD;
 font-size: 14px;
 text-align: center;
 margin: 30px;
}




//END
//////////////////////////////////
/// 
/// 
/// 
//Fix scaling for fixed width/height in mobile Specificty problem. 
@media screen and (min-width: 500px) {
  html{
    zoom: 1.05;
  }


}
@media screen and (min-width: 600px) {
  html{
    zoom: 1.1;
  }
}
//Reset at tablets again
@media screen and (min-width: 768px) {
  html{
    zoom: 1;
  }
}
/// 
/// 
/// 
/// 
/// 
/// 
/// 
/***************************************************/
/*****Imports of Partials****/ //At bottom is crucial for preprocessor rules.
/***************************************************/
@import 'Partials/tabletOnly';
@import 'Partials/desktopOnly';