@charset "UTF-8";
/*Search queries*/ /*
*Universal Styles              Top Header Styles             Hero section styles


*/ /*

Description:
- Mobile first

*/
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800;900&display=swap");
/***********************************************/
/***************Universal Styles
***********************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  transition: background-color 0.16s;
}

/***********************************************/
/***************Top Header styles
***********************************************/
#top-header {
  width: 100%;
  height: 52px;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  max-width: 75rem;
  margin: 0 auto;
  max-height: 52px;
}

#left-side-header {
  display: flex;
  flex-direction: row;
  justify-content: row;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

#left-side-header:visited {
  color: black;
}

#logo-name {
  margin-left: 0.4375rem;
  font-size: 1.3rem;
  font-weight: 800;
  font-family: "Manrope", system-ui, sans-serif;
}

/*** Right side header ***/
#right-side-header {
  display: flex;
  flex-direction: row;
  justify-content: row;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
}

/********Toggle / Switch********/
.toggle-switch {
  width: 46px;
  height: 24px;
  background-color: #9397ad;
  border-radius: 25px;
  position: relative;
  box-shadow: 0px 8px 18px -8px rgba(99, 102, 241, 0.9);
  cursor: pointer;
  display: inline-block;
}
.toggle-switch input {
  display: none;
}
.toggle-switch .toggle-knob {
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
  transition: left 0.3s ease;
}
.toggle-switch input:checked + .toggle-knob {
  left: calc(46px - 18px - 6px);
}

.toggle-switch:has(input:checked) {
  background-color: #6366f1;
}

/***Menu button Mobile***/
.hamburger-menu {
  width: 30px;
  height: 36px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.hamburger-menu span {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #333;
}

.hamburger-menu span:first-child {
  margin-top: 6px;
}

.hamburger-menu span:nth-child(2) {
  margin-top: 6px;
  margin-bottom: 6px;
}

.hamburger-menu span:last-child {
  margin-bottom: 6px;
}

.signin-btn-link {
  display: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

/***********************************************/
/***************Hero section styles
***********************************************/
.background-widescreen-fixer-hero {
  background: radial-gradient(circle at bottom center, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 50%, rgba(19, 16, 34, 0.01) 100%);
  width: 100vw;
  height: auto;
}

.hero-section {
  height: 100%;
  font-family: "Manrope", system-ui, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  display: grid;
  grid-template-rows: auto;
  gap: 40px;
  padding-top: 27.02px;
}
.hero-section h1, .hero-section .hero-paragarph {
  justify-self: center;
  align-self: center;
  width: 100%;
}
.hero-section *:nth-child(2) {
  max-width: 361.41px;
}
.hero-section h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 34.1px;
  max-width: 300px;
}
.hero-section .hero-paragarph {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-size: 18px;
  color: #585C7B;
  line-height: 1.288;
  height: 115.2px;
}

/***Apple Button Self made***/
.main-btn-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.download-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #131022;
  max-width: 366.4px;
  border-radius: 8px;
  cursor: pointer;
}
.download-btn .button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  flex-direction: row;
}
.download-btn .button-wrapper .icon-fix {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 30px;
}
.download-btn .button-wrapper .icon-fix .apple-icon-top {
  position: absolute;
  top: -6px;
  left: 2´0px;
}
.download-btn .button-wrapper .icon-fix .apple-icon {
  position: relative;
}
.download-btn p {
  color: white;
}

.download-btn:hover {
  background-color: #6366f1;
  border: #6366f1;
}

.download-text-apple-top {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Arial", sans-serif;
  font-size: 11px;
  height: -moz-fit-content;
  height: fit-content;
  letter-spacing: 1px;
}

.download-text-apple {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: -moz-fit-content;
  height: fit-content;
  letter-spacing: 1px;
}

/****Google button Ai-Generated with Builder.io Figma plugin****/
.link-image {
  margin-top: 4px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  width: 139px;
  max-width: 100%;
}

.btn-link {
  width: 100%;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.discover-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 100%;
}
.discover-wrapper p {
  color: #585C7B;
}

.discover-button {
  fill: #3E4265;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background-color: #fff;
}

.discover-button:hover {
  background-color: #6366f1;
  color: white;
  stroke: white;
  fill: white;
  cursor: pointer;
}

@media screen and (min-width: 500px) {
  .hero-section {
    width: 100vw;
    max-width: 100vw;
  }
  .hero-section > * {
    transform: scale(1.05);
  }
}
@media screen and (min-width: 600px) {
  .hero-section {
    width: 100vw;
    max-width: 100vw;
  }
  .hero-section > * {
    transform: scale(1.1);
  }
}
@media screen and (min-width: 768px) {
  .hero-section {
    padding-bottom: 0px;
  }
  .hero-section > * {
    transform: scale(1);
  }
}
/***************************************************/
/*****Imports of Partials****/
/***************************************************/
/*******Dark mode text *****/
.dark-mode-text {
  display: none;
  color: #131022;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  /***********************************************/
  /***************Universal  styles
  ***********************************************/
  .dark-mode-text {
    display: block;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  /***********************************************/
  /***************Top Section styles
  ***********************************************/
  .toggle-switch {
    margin-right: 60px;
  }
  /***********************************************/
  /***************Hero Section styles
  ***********************************************/
  .hero-section {
    width: 100vw;
    max-width: 100vw;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    gap: 35px;
  }
  .hero-section *:first-child {
    max-width: 500px;
  }
  .hero-section h1 {
    display: inline-block;
    grid-column: 1/10;
    font-size: 44.3px;
    max-width: 100px;
  }
  .hero-section .hero-paragarph {
    grid-column: 1/6;
    grid-row: 2;
    width: 360px;
  }
  .hero-section .main-btn-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 360px;
    grid-column: 1/6;
    grid-row: 3;
    align-self: center;
    justify-self: center;
  }
  .hero-section .d-btn-1 {
    width: 170px;
  }
  .hero-section .d-btn-2 {
    width: 170px;
  }
  .hero-section .discover-wrapper {
    grid-row: 4;
    grid-column: 1/6;
    justify-self: center;
    width: 200px;
    margin-right: 180px;
  }
  .hero-section::before {
    content: "";
    background-image: url("Pictures/test.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    grid-row: 2/6;
    grid-column: 5/10;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}
#features {
  display: none;
  margin-left: 0.4375rem;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Manrope", system-ui, sans-serif;
  color: #33354D;
  margin-top: 4.8px;
  margin-left: 40px;
}

@media screen and (min-width: 1024px) {
  /***********************************************/
  /***************Universal  styles
  ***********************************************/
  /***********************************************/
  /***************Top Header Section styles
  ***********************************************/
  #features {
    display: block;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    cursor: pointer;
  }
  .signin-btn-link {
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .signin-btn {
    width: 140px;
    height: 36px;
    background-color: #6366f1;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .signin-btn p {
    color: #fff;
    letter-spacing: 0.1px;
    font-size: 14px;
  }
  .signin-btn:hover {
    background-color: #7a7df3;
  }
  .toggle-switch {
    margin-right: 10px;
  }
  .hamburger-menu {
    display: none;
  }
  /***********************************************/
  /***************Hero Section styles
  ***********************************************/
  .hero-section {
    margin: 0 auto;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, auto);
    position: relative;
    width: 100%;
    max-width: 75rem;
    min-width: 60rem;
  }
  .hero-section h1 {
    justify-self: start;
    align-self: start;
    text-align: start;
    grid-column: 3/6;
    font-size: 56px;
    z-index: 1;
  }
  .hero-section .hero-paragarph {
    justify-self: start;
    align-self: start;
    font-size: 18px;
    grid-column: 3/4;
  }
  .hero-section .main-btn-wrapper {
    grid-column: 3/4;
    justify-self: start;
    align-self: start;
  }
  .hero-section .discover-wrapper {
    grid-column: 3/4;
    justify-self: start;
    align-self: start;
  }
  .hero-section::before {
    content: "";
    background-image: url("Pictures/test.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    grid-column: 4/6;
    grid-row: 1/6;
    width: 490px;
    height: 90%;
    z-index: -1;
    position: absolute;
    left: 0px;
    right: 0;
    bottom: -15px;
  }
  .discover-wrapper {
    padding-bottom: 20px;
  }
}/*# sourceMappingURL=styles.css.map */